<h1>
  New addition
</h1>

<form action="/wizard_add">
  <label for="first">
    Add this:
  </label>
  <input id="first" name="first_num">

  <label for="second">
    to this:
  </label>
  <input id="second" name="second_num">

  <button>
    Add!
  </button>
