<h1>
  New multiplication
</h1>

<form action="/wizard_multiply">
  <label for="first">
    Multiply this:
  </label>
  <input id="first" name="first_num">

  <label for="second">
    by this:
  </label>
  <input id="second" name="second_num">

  <button>
    Multiply!
  </button>
