<h1>
  New subtraction
</h1>

<form action="/wizard_subtract">
  <label for="first">
    Subtract this:
  </label>
  <input id="first" name="first_num">

  <label for="second">
    from this:
  </label>
  <input id="second" name="second_num">

  <button>
    Subtract!
  </button>
